.holder {
    border: 5px solid;
    border-radius: 50px 50px 0 0;
    width: auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.item {
    font-size: 50px;
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.item:nth-child(1) {
    width: calc(100%/2);
    background-color:crimson;
    border-radius: 45px 0 0 0;
    order: 1;
}
.item:nth-child(2) {
    width: calc(100%/3);
    background-color: cornflowerblue;
    order: 4;
}
.item:nth-child(3) {
    width: calc(100%/3);
    background-color: blueviolet;
    order: 3;
}
.item:nth-child(4) {
    width: calc(100%/3);
    background-color: green;
    order: 4;
}
.item:nth-child(5) {
    width: calc(100%/2);
    background-color: orange;
    border-radius: 0 45px 0 0;
    order: 2;
}